<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.groomingProject.alert.model.vo.Alert" alias="Alert"/>
		<typeAlias type="com.kh.groomingProject.tag.model.vo.Tag" alias="Tag"/>
		<typeAlias type="com.kh.groomingProject.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.groomingProject.member.model.vo.MemberTag" alias="MemberTag"/>
		<typeAlias type="com.kh.groomingProject.member.model.vo.MemberAlert" alias="MemberAlert"/>
		<typeAlias type="com.kh.groomingProject.mypage.model.vo.ProfileMember" alias="ProfileMember"/>
		<typeAlias type="com.kh.groomingProject.mypage.model.vo.Spec" alias="Spec"/>
		<typeAlias type="com.kh.groomingProject.community.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.groomingProject.grooming.model.vo.Grooming" alias="Grooming"/>
		<typeAlias type="com.kh.groomingProject.grooming.model.vo.GroomingTag" alias="Gtag"/>
		<typeAlias type="com.kh.groomingProject.grooming.model.vo.GroomingSpec" alias="Gspec"/>
		<typeAlias type="com.kh.groomingProject.studyCafe.model.vo.StudyCafe" alias="studyCafe"/>
		<typeAlias type="com.kh.groomingProject.grooming.model.vo.Grooming" alias="Grooming"/>
		<typeAlias type="com.kh.groomingProject.grooming.model.vo.GroomingTag" alias="Gtag"/>
		<typeAlias type="com.kh.groomingProject.grooming.model.vo.GroomingSpec" alias="Gspec"/>
		<typeAlias type="com.kh.groomingProject.studyCafe.model.vo.StudyCafe" alias="studyCafe"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/alert-mapper.xml"/>
		<mapper resource="/mappers/tag-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/mypage-mapper.xml"/>
		<mapper resource="/mappers/community-mapper.xml"/>
		<mapper resource="/mappers/grooming-mapper.xml"/>
		<mapper resource="/mappers/studyCafe-mapper.xml"/>
		<mapper resource="/mappers/point-mapper.xml"/>
		<mapper resource="/mappers/grooming-mapper.xml"/>
		<mapper resource="/mappers/studyCafe-mapper.xml"/>
		<mapper resource="/mappers/point-mapper.xml"/>
		<mapper resource="/mappers/grooming-mapper.xml"/>
		<mapper resource="/mappers/studyCafe-mapper.xml"/>
		<mapper resource="/mappers/point-mapper.xml"/>
	</mappers>
	
</configuration>
