<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="MemberManageView" id="memberViewResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="point" column="POINT"/>
		<result property="sanctions" column="SANCTIONS"/>
	</resultMap>
	
	<resultMap type="MentoManageView" id="mentoViewResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="mentorNo" column="MENTOR_NO"/>
		<result property="mentorPass" column="MENTOR_PASS"/>
		<result property="specName" column="SPEC_NAME"/>
		<result property="specFileName" column="SPEC_FILENAME"/>
		<result property="specCName" column="SPEC_C_NAME"/>
		<result property="specComfirm" column="SPEC_CONFIRM"/>
	</resultMap>

	
	<select id="memberListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER_MANAGE
		<where>
			<if test="category == 'nickname'">
				MEMBER_NICKNAME LIKE '%'||#{name}||'%'
			</if>
			<if test="category == 'memberName'">
				MEMBER_NAME LIKE '%'||#{name}||'%'
			</if>
			<if test="category == 'email'">
				MEMBER_EMAIL LIKE '%'||#{name}||'%'
			</if>
			<if test="category == 'sanctions'">
				SANCTIONS IS NOT NULL
			</if>
		</where>
	</select>
	
	<select id="memberList" parameterType="string" resultMap="memberViewResultSet">
		SELECT *
		FROM MEMBER_MANAGE
		<where>
			<if test="category == 'nickname'">
				MEMBER_NICKNAME LIKE '%'||#{name}||'%'
			</if>
			<if test="category == 'memberName'">
				MEMBER_NAME LIKE '%'||#{name}||'%'
			</if>
			<if test="category == 'email'">
				MEMBER_EMAIL LIKE '%'||#{name}||'%'
			</if>
			<if test="category == 'sanctions'">
				SANCTIONS IS NOT NULL
			</if>
		</where>
	</select>
	
	<insert id="pointCalculation" parameterType="Point">
		INSERT INTO POINT
		VALUES(SEQ_POINT_NO.NEXTVAL
			 , #{memberNo}
			 , #{addPoint}
			 , 0
			 , #{pointList}
			 , SYSDATE
		)
	</insert>
	
	<select id="selectNo" parameterType="map" resultMap="memberViewResultSet">
		SELECT M.MEMBER_NO, M.MEMBER_EMAIL, M.MEMBER_NICKNAME, M.MEMBER_NAME
		FROM MEMBER M
		RIGHT JOIN MENTOR T ON (M.MEMBER_NO = T.MEMBER_NO)
		<where>
			<if test="kind == 1">
				T.MENTOR_PASS = 'Y'
			</if>
			<if test="kind == 2">
				T.MENTOR_PASS = 'C'
			</if>
		</where>
	</select>
	
	<select id="selectmentoCount" parameterType="map" resultType="_int">
		SELECT COUNT(MEMBER_NO)
		FROM MENTOR
		<where>
			<if test="kind == 1">
				MENTOR_PASS = 'Y'
			</if>
			<if test="kind == 2">
				MENTOR_PASS = 'C'
			</if>
		</where>
	</select>
	
	<select id="selectmentoList" parameterType="java.util.List" resultMap="mentoViewResultSet">
		SELECT *
		FROM METO_MANAGE
		WHERE MENTOR_PASS = 'Y'
		<foreach item="mNo" index="index" collection="list"
				open="AND (" separator="OR" close=")">
				<if test="mNo.memberNo != null">
					MEMBER_NO = #{mNo.memberNo} 
				</if>
		</foreach>
		ORDER BY SPEC_C_NAME DESC
	</select>
	
	<select id="selectSpareMentoList" parameterType="java.util.List" resultMap="mentoViewResultSet">
		SELECT * 
		FROM METO_MANAGE
		WHERE MENTOR_PASS = 'C'
		<foreach item="sNo" index="index" collection="list"
				open="AND (" separator="OR" close=")">
				<if test="sNo.memberNo != null">
					MEMBER_NO = #{sNo.memberNo} 
				</if>
		</foreach>
		ORDER BY SPEC_C_NAME DESC
	</select>
</mapper>
