<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alertMapper">

	<resultMap type="Alert" id="alertResultSet">
		<id property="alertNo" column="ALERT_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="alertContent" column="ALERT_CONTENT"/>
		<result property="alertCreateDate" column="ALERT_CREATEDATE"/>
		<result property="alertConfirm" column="ALERT_CONFIRM"/>
	</resultMap>

	<insert id="insertAlert" parameterType="MemberAlert">
		INSERT INTO ALERT (ALERT_NO, MEMBER_NO, ALERT_CONTENT, ALERT_CREATEDATE, ALERT_CONFIRM)
		VALUES('ALE' || LPAD(SEQ_ALERT_NO.NEXTVAL,5,0)
			, (SELECT MEMBER_NO FROM MEMBER WHERE MEMBER_EMAIL=#{memberEmail})
			, #{alertContent}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="getUserAlertCount" parameterType="Member" resultType="_int">
		SELECT COUNT(*)
		FROM ALERT
		WHERE MEMBER_NO = #{memberNo}
		AND ALERT_CONFIRM = 'N'
		ORDER BY ALERT_CREATEDATE DESC
	</select>

	<select id="getUserAlert" parameterType="Member" resultMap="alertResultSet">
		SELECT ALERT_NO, MEMBER_NO, ALERT_CONTENT, ALERT_CREATEDATE, ALERT_CONFIRM
		FROM ALERT
		WHERE MEMBER_NO = #{memberNo}
		AND ALERT_CONFIRM = 'N'
		ORDER BY ALERT_CREATEDATE DESC
	</select>

	<update id="readUserAlert" parameterType="string">
		UPDATE ALERT
		SET ALERT_CONFIRM='Y'
		WHERE ALERT_NO=#{alertNo}
	</update>

</mapper>
