<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groomingMapper">
 
 	<resultMap type="Grooming" id="groomingResultSet">
		<id property="groomingNo" column="GROOMING_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="groomingType" column="GROOMING_TYPE"/>
		<result property="groomingTitle" column="GROOMING_TITLE"/>
		<result property="groomingContent" column="GROOMING_CONTENT"/>
		<result property="groomingIntroduce" column="GROOMING_INTRODUCE"/>
		<result property="groomingP" column="GROOMING_PARTICIPANTS"/>
		<result property="studySd" column="STUDY_START_DATE"/>
		<result property="studyEd" column="STUDY_END_DATE"/>
		<result property="groomingSd" column="GROOMING_START_DATE"/>
		<result property="groomingEd" column="GROOMING_END_DATE"/>
		<result property="money" column="DEPOSIT_MONEY"/>
		<result property="groomingImg" column="GROOMING_IMG"/>
		<result property="groomingCd" column="GROOMING_CREATE_DATE"/>
		<result property="groomingMd" column="GROOMING_MODIFY_DATE"/>
		<result property="status" column="GROOMING_STATUS"/>
		<result property="count" column="GROOMING_COUNT"/>
		<result property="groomingNd" column="GROOMING_NOW_DATE"/>
		<result property="currentP" column="GROOMING_CURRENT_PEOPLE"/>
		
	</resultMap>
	
 
	
 	<resultMap type="Gspec" id="gSpecResultSet">
		<id property="specNo" column="SPEC_NO"/>
		<result property="specCNo" column="SPEC_C_NO"/>
		<result property="specName" column="SPEC_NAME"/>
		<result property="specFileName" column="SPEC_FILENAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="specConfirm" column="SPEC_CONFIRM"/>
		
		
	</resultMap>
	 
	 <resultMap type="Gapp" id="gAppResultSet">
		<id property="groomingAN" column="GROOMING_APPLY_NO"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberPhoto" column="MEMBER_PHOTO"/>
		<result property="groomingAC" column="GROOMING_APPLY_CONTENT"/>
		
		
	</resultMap>
	
	 <resultMap type="GroomingAp" id="GACResultSet">
		<id property="groomingAn" column="GROOMING_APPLY_NO"/>
		<result property="groomingNo" column="GROOMING_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="groomingAC" column="GROOMING_APPLY_CONTENT"/>
		<result property="groomingAS" column="GROOMING_APPLY_STATUS"/>
		
		
	</resultMap>
 
	 <resultMap type="Gheart" id="GheartResultSet">
		<id property="groomingHNo" column="GROOMING_HEART_NO"/>
		<result property="groomingNo" column="GROOMING_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	 <resultMap type="Gmember" id="GmemberResultSet">
		<id property="gmemberNo" column="G_MEMBER_NO"/>
		<result property="groomingNo" column="GROOMING_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	 <resultMap type="GroupM" id="GroupMResultSet">
		<result property="memberPhoto" column="MEMBER_PHOTO"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="email" column="MEMBER_EMAIL"/>
		<result property="phone" column="MEMBER_PHONE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="gMemberNo" column="MEMBER_NO"/>
	</resultMap>
	
	 <resultMap type="GroupB" id="GroupBoardResultSet">
	 	<id property="gBoardNo" column="G_BOARD_NO"/>
		<result property="gMemberNo" column="GROOMING_MEMBER_NO"/>
		<result property="gBoardCategory" column="G_BOARD_CATEGORY"/>
		<result property="gBoardTitle" column="G_BOARD_TITLE"/>
		<result property="gBoardContent" column="G_BOARD_CONTENT"/>
		<result property="count" column="G_BOARD_VIEW_COUNT"/>
		<result property="createDate" column="G_BOARD_CREATE_DATE"/>
		<result property="modifyDate" column="G_BOARD_MODIFY_DATE"/>
		<result property="gBoardImg" column="G_BOARD_IMG"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
	</resultMap>
	
	 <resultMap type="GReply" id="GroupReplyResultSet">
	 	<id property="gReplyNo" column="G_REPLY_NO"/>
		<result property="gBoardNo" column="G_BOARD_NO"/>
		<result property="gMemberNo" column="GROOMING_MEMBER_NO"/>
		<result property="gReplyContent" column="G_REPLY_CONTENT"/>
		<result property="gReplyCreateDate" column="G_REPLY_CAEATE_DATE"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberPhoto" column="MEMBER_PHOTO"/>
	</resultMap>
	
	 <resultMap type="GCheck" id="GroupCheckResultSet">
	 	<id property="gCheckNo" column="G_CHECK_NO"/>
		<result property="groomingNo" column="GROOMING_NO"/>
		<result property="gMemberNo" column="G_MEMBER_NO"/>
		<result property="gCheckStatus" column="G_CHECK"/>
		<result property="gCheckDate" column="G_CHECK_DATE"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
	</resultMap>

 	<resultMap type="groomingMain" id="groomingMainResultSet">
		<id property="groomingNo" column="GROOMING_NO"/>
		<result property="groomingTitle" column="GROOMING_TITLE"/>
		<result property="groomingIntroduce" column="GROOMING_INTRODUCE"/>
		<result property="groomingImg" column="GROOMING_IMG"/>
		<result property="groomingType" column="GROOMING_TYPE"/>
		<result property="groomingDday" column="D_DAY"/>
		<result property="groomingTagName" column="TAG_NAME"/>
		<result property="groomingParti" column="GROOMING_PARTICIPANTS"/>
		<result property="groomingMemberCount" column="GMEMBER_COUNT"/>
		<result property="groomingViewCount" column="GROOMING_COUNT"/>
	</resultMap>

	<resultMap type="MyPagePoint" id="MyPagePointSet">
			<id property="pointNo" column="POINT_NO"/>
			<result property="memberNo" column="MEMBER_NO" />	
			<result property="addPoint" column="ADD_POINT" />	
			<result property="sunPoint" column="SUB_POINT" />	
			<result property="pointList" column="POINT_LIST" />	
			<result property="pointDate" column="POINT_DATE" />	
	</resultMap>
	
	<resultMap type="Mentor" id="MentorResultSet">
			<id property="mentorNo" column="MENTOR_NO"/>
			<result property="memberNo" column="MEMBER_NO" />	
			<result property="pass" column="MENTOR_PASS" />	
	</resultMap>
	
<!--  	<select id="selectList" resultMap="groomingResultSet">
 		SELECT * 
 		FROM GROOMING
 		WHERE GROOMING_STATUS ='Y'
 			OR GROOMING_STATUS = 'B'
 		ORDER BY GROOMING_CREATE_DATE DESC,GROOMING_STATUS DESC
 		
 	</select> -->
 	
<!--  	<select id="selectMentorList" resultMap="groomingResultSet">
 		SELECT * 
 		FROM GROOMING 
 		WHERE GROOMING_TYPE ='멘토'
 		ORDER BY GROOMING_NO DESC
 		
 	</select> -->
 
 	<select id="gSearchTitle" parameterType="string" resultMap="groomingResultSet" >
 		SELECT *
		FROM GROOMING G
		JOIN MEMBER M ON (M.MEMBER_NO = G.MEMBER_NO)
		WHERE GROOMING_STATUS ='Y'
		AND GROOMING_TITLE LIKE '%' || #{title} || '%'
		ORDER BY GROOMING_NO DESC	
		
			
 	
 	</select>
 	<select id="gSearchWriter" parameterType="string" resultMap="groomingResultSet" >
 		SELECT *
		FROM GROOMING G
		JOIN MEMBER M ON (M.MEMBER_NO = G.MEMBER_NO)
		WHERE GROOMING_STATUS ='Y'
		AND MEMBER_NICKNAME LIKE '%' || #{writer} || '%'
		ORDER BY GROOMING_NO DESC	
		
			
 	
 	</select>
 	<select id="gSearchContent" parameterType="string" resultMap="groomingResultSet" >
 		SELECT *
		FROM GROOMING G
		JOIN MEMBER M ON (M.MEMBER_NO = G.MEMBER_NO)
		WHERE GROOMING_STATUS ='Y'
		AND GROOMING_CONTENT LIKE '%' || #{content} || '%'
		ORDER BY GROOMING_NO DESC	
	
 	</select>
 
 	<update id="updateCount" parameterType="string">
 		UPDATE GROOMING
 		SET GROOMING_COUNT = GROOMING_COUNT +1
 		WHERE GROOMING_NO = #{groomingNo}
 	
 	</update>
 
 	<select id="selectOne" parameterType="string" resultMap="groomingResultSet">
		SELECT *
		FROM GROOMING G
		WHERE GROOMING_NO=#{groomingNo}
		
		
	</select>
 
<!--  	<select id="selectMoneyList" resultMap="groomingResultSet">
 		SELECT * 
 		FROM GROOMING 
 		WHERE DEPOSIT_MONEY > 0
 		ORDER BY GROOMING_NO DESC
 	
 	</select> -->
 
 
 	
 	<!-- <select id="selectSpec" parameterType="string" resultMap="gSpecResultSet">
 		SELECT SPEC_NAME
        FROM SPEC S
        JOIN GROOMING G ON G.MEMBER_NO = S.MEMBER_NO
        WHERE GROOMING_NO = #{groomingNo}
 	
 	</select> -->
 	
 	<select id="selectSpec" parameterType="string" resultMap="gSpecResultSet">
       SELECT *
        FROM SPEC S
        JOIN GROOMING G ON G.MEMBER_NO = S.MEMBER_NO
        WHERE GROOMING_NO = #{groomingNo} AND SPEC_CONFIRM = 'Y'
    
    </select>
    
 	<insert id="insertGrooming" parameterType="Grooming" >
 		INSERT INTO GROOMING VALUES(
 			'G' || LPAD(SEQ_GROOMING_NO.NEXTVAL,5,0)
 			, #{memberNo}
 			, #{groomingType}
 			, #{groomingTitle}
 			, #{groomingContent}
 			, #{groomingIntroduce}
 			, #{groomingP}
 			, #{studySd}
 			, #{studyEd}
 			, #{groomingSd}
 			, #{groomingEd} 
 		
 			<if test="money != ''">
 			,#{money}
 			</if>
 			<if test="money == '' ">
 			 ,DEFAULT
 			</if>
 		
 			, #{groomingImg}
 			, DEFAULT
 			, DEFAULT
 			, 'Y'
 			, DEFAULT
 			, SYSDATE
 			, DEFAULT
 			)
	
	
 	</insert>
 	
  	<select id="selectAppContent" parameterType="string" resultMap="gAppResultSet">
 	SELECT GROOMING_APPLY_NO,M.MEMBER_NICKNAME,M.MEMBER_PHOTO,GROOMING_APPLY_CONTENT
	FROM GROOMING_APPLICANT GA
	JOIN MEMBER M ON GA.MEMBER_NO = M.MEMBER_NO
	WHERE GROOMING_APPLY_STATUS = 'Y' 
	AND GROOMING_NO= #{groomingNo}
	
 	
 	</select> 
 	
 	<update id="selectApplyOne" parameterType="string">
 	UPDATE GROOMING_APPLICANT
	SET GROOMING_APPLY_STATUS = 'C'
	WHERE GROOMING_APPLY_NO =#{applyNo}
 	</update>

 	<update id="rejectApp" parameterType="string">
 	UPDATE GROOMING_APPLICANT
	SET GROOMING_APPLY_STATUS = 'D'
	WHERE GROOMING_APPLY_NO =#{applyNo}
 	</update>
 	
 	<update id="addGroomingP" parameterType="string">
 	UPDATE GROOMING
	SET GROOMING_CURRENT_PEOPLE = GROOMING_CURRENT_PEOPLE + 1
	WHERE GROOMING_NO =#{groomingNo}
 	</update>
 	
 	<update id="updateGrooming" parameterType="Grooming">
 		UPDATE GROOMING
 		SET GROOMING_TYPE = #{groomingType},
 		GROOMING_TITLE = #{groomingTitle},
 		GROOMING_CONTENT = #{groomingContent},
 		GROOMING_INTRODUCE = #{groomingIntroduce},
 		GROOMING_PARTICIPANTS = #{groomingP},
 		STUDY_START_DATE = #{studySd},
 		STUDY_END_DATE = #{studyEd},
 		GROOMING_START_DATE = #{groomingSd},
 		GROOMING_END_DATE = #{groomingEd},
 		DEPOSIT_MONEY = #{money},
 		GROOMING_IMG = #{groomingImg},
 		GROOMING_MODIFY_DATE = SYSDATE 		
 		WHERE GROOMING_NO =#{groomingNo}
 	
 	</update>
 	
 	<delete id="groomingDelete" parameterType="string">
 		DELETE FROM GROOMING
 		WHERE GROOMING_NO = #{groomingNo}
 	</delete>
 	
 	<update id="statusUpdate" >
 	<![CDATA[ 
 		UPDATE GROOMING
 		SET GROOMING_STATUS = 'B'
 		WHERE GROOMING_NO = #{groomingNo}
 	]]>
 	</update>
 	
 	<insert id="applyContent" parameterType="GroomingAp">
 		INSERT INTO GROOMING_APPLICANT VALUES(
 		'GA' || LPAD(SEQ_GROOMING_APPLY_NO.NEXTVAL,5,0)
 		,#{groomingNo}
 		,#{memberNo}
 		,#{groomingAC}
 		,DEFAULT
 		)
 		
 	</insert>
 	
 	<select id="selectAppMemberNo" parameterType="map" resultMap="GACResultSet">
 		SELECT *
 		FROM GROOMING_APPLICANT
 		WHERE GROOMING_NO = #{groomingNo}
 		AND MEMBER_NO = #{memberNo}
 	
 	
 	</select>
 	
 	<select id="selectHeartMember" parameterType="map" resultMap="GheartResultSet">
 		SELECT *
 		FROM GROOMING_HEART
 		WHERE GROOMING_NO = #{groomingNo}
 		AND MEMBER_NO = #{memberNo}
 	
 	
 	</select>
 	
 	<insert id="addHeart" parameterType="map">
 		INSERT INTO GROOMING_HEART VALUES(
 		'GH' || LPAD(SEQ_G_HEART_NO.NEXTVAL,5,0)
 		,#{groomingNo}
 		,#{memberNo}
 		)
 	
 	</insert>
 	
 	
 	<delete id="cancelHeart" parameterType="map">
		DELETE
		FROM GROOMING_HEART
		WHERE GROOMING_NO = #{groomingNo}
		AND MEMBER_NO = #{memberNo}

 	</delete>
 	
 	<select id="selectGimg" parameterType="string" resultType="string">
 		SELECT GROOMING_IMG
 		FROM GROOMING
 		WHERE GROOMING_NO = #{groomingNo}
 	
 	
 	
 	</select>
 	<select id="findAppMemberNo" parameterType="string" resultType="string">
 		SELECT MEMBER_NO
 		FROM GROOMING_APPLICANT
 		WHERE GROOMING_APPLY_NO = #{applyNo}
 	
 	</select>
 	<select id="findAppMemberEmail" parameterType="string" resultType="string">
 		SELECT MEMBER_EMAIL
 		FROM MEMBER M
        JOIN GROOMING_APPLICANT GA ON M.MEMBER_NO = GA.MEMBER_NO
 		WHERE GROOMING_APPLY_NO = #{applyNo}
 	
 	</select>
 	<insert id="addGroomingMember" parameterType="map">
 		INSERT INTO GROMMING_MEMBER VALUES(
 		'GM' || LPAD(SEQ_G_MEMBER_NO.NEXTVAL,5,0)
 		,#{memberNo}
 		,#{groomingNo}
 	)
 	</insert>
 	
 	<select id="getGroomingNo" parameterType="string" resultType="string">
 		SELECT GROOMING_NO
		FROM GROOMING G
		JOIN MEMBER M ON G.MEMBER_NO = M.MEMBER_NO
		WHERE G.MEMBER_NO=#{memberNo}
 	
 	</select>
 	<select id="findTagNo" parameterType="string" resultType="string">
		 
		 	
		 	SELECT TAG_NO
			FROM TAG
			WHERE TAG_NAME = #{tagTemp}
 	
 	</select>
 	
 	<insert id="insertGtag" parameterType="map">
 		INSERT INTO GTAG VALUES(
 			#{GtagNo}
 			, #{groomingNo}
 		)
 	
 	
 	
 	</insert>
 	
 	<select id="select" parameterType="string" resultMap="groomingResultSet">
 		SELECT *
 		FROM GROOMING G
 		JOIN MEMBER M ON G.MEMBER_NO = M.MEMBER_NO
 		WHERE M.MEMBER_NO = #{memberNo} AND GROOMING_STATUS = 'Y'
 		
 	</select>
 	
 	
 	<insert id="insertSave" parameterType="Grooming" >
 		INSERT INTO GROOMING VALUES(
 			'G' || LPAD(SEQ_GROOMING_NO.NEXTVAL,5,0)
 			, #{memberNo}
 			, #{groomingType}
 			<if test="groomingTitle != ''">
 			, #{groomingTitle}
 			</if>
 			<if test="groomingTitle == ''">
 			, '임시저장'
 			</if>
 			
 			<if test="groomingContent != ''">
 			, #{groomingContent}
 			</if>
 			<if test="groomingContent == ''">
 			, '임시저장'
 			</if>
 			
 			<if test="groomingIntroduce != ''">
 			, #{groomingIntroduce}
 			</if>
 			<if test="groomingIntroduce == ''">
 			, '임시저장'
 			</if>
 			
 			<if test="groomingP != ''">
 			, #{groomingP}
 			</if>
 			<if test="groomingP == ''">
 			, '2'
 			</if>
 			
 			<if test="studySd != null">
 			, #{studySd}
 			</if>
 			<if test="studySd == null">
 			, SYSDATE
 			</if>
 			
 			<if test="studyEd != null">
 			, #{studyEd}
 			</if>
 			<if test="studyEd == null">
 			, SYSDATE
 			</if>
 			
 			<if test="groomingSd != null">
 			, #{groomingSd}
 			</if>
 			<if test="groomingSd == null">
 			, SYSDATE
 			</if>
 			
 			<if test="groomingEd != null">
 			, #{groomingEd}
 			</if>
 			<if test="groomingEd == null">
 			, SYSDATE
 			</if>
 			
 			<if test="money != ''">
 			,#{money}
 			</if>
 			<if test="money == '' ">
 			 ,DEFAULT
 			</if>
 		
 			<if test="groomingImg != null">
 			,#{groomingImg}
 			</if>
 			<if test="groomingImg == null ">
 			 , 'test.png'
 			</if>
 			
 			, DEFAULT
 			, SYSDATE
 			, DEFAULT
 			, DEFAULT
 			, DEFAULT
 			, DEFAULT
 			)
	
	
 	</insert>
 	
 	<insert id="GroupHostIn" parameterType="map">
 		INSERT INTO GROMMING_MEMBER VALUES(
 			'GM' || LPAD(SEQ_G_MEMBER_NO.NEXTVAL,5,0)
 			,#{memberNo}
 			,#{groomingNo}
 	)
 	</insert>
 	
 	<delete id="deleteGtag" parameterType="string">
 	
 		DELETE FROM GTAG 
		WHERE GROOMING_NO = #{groomingNo}
 	
 	</delete>
 	
 	<delete id="deleteGmember" parameterType="string">
 	
 		DELETE FROM GROMMING_MEMBER
 		WHERE MEMBER_NO = #{memberNo}
 	
 	
 	</delete>
 	
 	<select id="selectMemberList" parameterType="string" resultMap="GroupMResultSet">
 	   SELECT MEMBER_PHOTO,MEMBER_NICKNAME,MEMBER_EMAIL,MEMBER_PHONE,M.MEMBER_NO,G.MEMBER_NO
       FROM GROMMING_MEMBER GM
       JOIN MEMBER M ON GM.MEMBER_NO = M.MEMBER_NO
       JOIN GROOMING G ON G.GROOMING_NO = GM.GROOMING_NO
       WHERE GM.GROOMING_NO = #{groomingNo}
	   ORDER BY G_MEMBER_NO 
 	
 	</select>
 	
 	<select id="getListCount" parameterType="string" resultType="_int">
 		SELECT COUNT(*)
 		FROM GBOARD	GB
 		JOIN GROMMING_MEMBER GM ON GB.GROOMING_MEMBER_NO = GM.G_MEMBER_NO
 		JOIN GROOMING G ON G.GROOMING_NO = GM.GROOMING_NO
 		WHERE GM.GROOMING_NO = #{groomingNo}
 	</select>
 	
 	<select id="selectGroupBoardList" parameterType="map" resultMap="GroupBoardResultSet">
 	  SELECT GB.*, M.MEMBER_NICKNAME
       FROM GBOARD GB
       JOIN GROMMING_MEMBER GM ON GB.GROOMING_MEMBER_NO = GM.G_MEMBER_NO
       JOIN GROOMING G ON G.GROOMING_NO = GM.GROOMING_NO
       JOIN MEMBER M ON M.MEMBER_NO = GM.MEMBER_NO
       WHERE GM.GROOMING_NO=#{groomingNo}
       ORDER BY G_BOARD_CATEGORY,G_BOARD_CREATE_DATE DESC
 	
 	
 	
 	</select>
 	
 	<update id="addBoardReadCount" parameterType="string">
 	   UPDATE GBOARD 
       SET G_BOARD_VIEW_COUNT = G_BOARD_VIEW_COUNT + 1
       WHERE G_BOARD_NO = #{gBoardNo}
 	 </update>
 	
 	<select id="selectGBoard" parameterType="string" resultMap="GroupBoardResultSet">
 	   SELECT GB.*, M.MEMBER_NICKNAME
       FROM GBOARD GB
       JOIN GROMMING_MEMBER GM ON GB.GROOMING_MEMBER_NO = GM.G_MEMBER_NO
       JOIN GROOMING G ON G.GROOMING_NO = GM.GROOMING_NO
       JOIN MEMBER M ON M.MEMBER_NO = GM.MEMBER_NO
       WHERE G_BOARD_NO=#{gBoardNo}
 	
 	
 	</select>
 	
 	<select id="selectGMemberNo" parameterType="map" resultType="string">  
 		SELECT G_MEMBER_NO
	    FROM GROMMING_MEMBER
	    WHERE GROOMING_NO=#{groomingNo} AND MEMBER_NO=#{memberNo}
 	
 	</select>
 	
 	<insert id="insertBoard" parameterType="GroupB">
 	INSERT INTO GBOARD VALUES(
			'GB' || LPAD(SEQ_G_BOARD_NO.NEXTVAL,5,0)
			, #{gMemberNo}
			, #{gBoardCategory}
			, #{gBoardTitle}
			, #{gBoardContent}
			, DEFAULT
			, DEFAULT
			, SYSDATE
			, #{gBoardImg}
		)
 	
 	
 	</insert>
 	
 	
 	<delete id="groupDelete" parameterType="string">
	 	DELETE FROM GBOARD
	    WHERE G_BOARD_NO = #{gBoardNo}
 	</delete>
 	
 	<update id="updateGroupBoard" parameterType="GroupB">
 		UPDATE GBOARD SET
 		G_BOARD_CATEGORY = #{gBoardCategory},
 		G_BOARD_TITLE = #{gBoardTitle},
 		G_BOARD_CONTENT = #{gBoardContent},
 		G_BOARD_MODIFY_DATE = SYSDATE,
 		G_BOARD_IMG = #{gBoardImg}
 		WHERE G_BOARD_NO =#{gBoardNo}
 	</update>
 	<select id="selectGboardimg" parameterType="string" resultType="string">
 		SELECT G_BOARD_IMG
 		FROM GBOARD
 		WHERE G_BOARD_NO = #{gBoardNo}
 	
 	</select>
 	
 	<select id="selectReplyList" parameterType="string" resultMap="GroupReplyResultSet">
 	SELECT GR.*,MEMBER_NICKNAME,MEMBER_PHOTO
	FROM G_REPLY GR
	JOIN GBOARD GB ON GB.G_BOARD_NO = GR.G_BOARD_NO 
	JOIN GROMMING_MEMBER GM ON GM.G_MEMBER_NO = GR.GROOMING_MEMBER_NO
	JOIN MEMBER M ON GM.MEMBER_NO = M.MEMBER_NO
	WHERE GR.G_BOARD_NO = #{gBoardNo}
 	</select>
 	
 	
 	<select id="selectGBoardNo" parameterType="map" resultType="string">
 		SELECT GROOMING_MEMBER_NO
	    FROM GBOARD GB
	 	JOIN GROMMING_MEMBER GM ON GM.G_MEMBER_NO = GB.GROOMING_MEMBER_NO
	    WHERE GM.MEMBER_NO = #{memberNo} AND GB.G_BOARD_NO=#{gBoardNo}
 	</select>
 	
 	
 	<insert id="addReply" parameterType="GReply">
 		INSERT INTO G_REPLY VALUES(
 		'GBR' || LPAD(SEQ_G_REPLY_NO.NEXTVAL,5,0)
 		,#{gBoardNo}
 		,#{gMemberNo}
 		,#{gReplyContent}
 		,DEFAULT
 		)
 	
 	
 	</insert>
 	
 	<select id="selectSave" parameterType="string" resultMap="groomingResultSet">
	 	SELECT *
		FROM GROOMING G
		JOIN MEMBER M ON G.MEMBER_NO = M.MEMBER_NO
		WHERE GROOMING_STATUS = 'N' AND G.MEMBER_NO = #{memberNo}
 	
 	</select>
 	
 	<update id="updateSaveGrooming" parameterType="Grooming">
 		UPDATE GROOMING
 		SET GROOMING_TYPE = #{groomingType},
 		GROOMING_TITLE = #{groomingTitle},
 		GROOMING_CONTENT = #{groomingContent},
 		GROOMING_INTRODUCE = #{groomingIntroduce},
 		GROOMING_PARTICIPANTS = #{groomingP},
 		STUDY_START_DATE = #{studySd},
 		STUDY_END_DATE = #{studyEd},
 		GROOMING_START_DATE = #{groomingSd},
 		GROOMING_END_DATE = #{groomingEd},
 		DEPOSIT_MONEY = #{money},
 		GROOMING_IMG = #{groomingImg},
 		GROOMING_MODIFY_DATE = SYSDATE,
 		GROOMING_STATUS = 'Y' 		
 		WHERE GROOMING_NO =#{groomingNo}
 	
 	</update>
 	
 	<select id="getGroomingListCount" resultType="_int">
<!-- 	SELECT COUNT(*)
	FROM GROOMING
	WHERE GROOMING_STATUS ='Y' -->
	<![CDATA[
		SELECT COUNT(*)
		FROM GROOMING G
		JOIN (SELECT GROOMING_NO, TRUNC(GROOMING_END_DATE - SYSDATE) AS D_DAY
		        FROM GROOMING) GD 
		    ON(G.GROOMING_NO = GD.GROOMING_NO)
		WHERE G.GROOMING_STATUS = 'Y'
		AND GD.D_DAY >= 0
		]]>
	</select>
 	
 	
 	<select id="getGMemberNo" parameterType="map" resultType="String">
		SELECT G_MEMBER_NO
		FROM GROMMING_MEMBER GM 
		JOIN MEMBER M ON GM.MEMBER_NO = M.MEMBER_NO
		WHERE MEMBER_NICKNAME=#{memberNickName} AND GM.GROOMING_NO = #{groomingNo}
 	</select>
 	
 	<select id="checkList" parameterType="map" resultMap="GroupCheckResultSet">
		 	
	  SELECT *
      FROM G_CHECK
      WHERE GROOMING_NO= #{groomingNo}
      AND G_MEMBER_NO=#{gMemberNo} 
      

 	</select>
 	
	<insert id="insertCheck" parameterType="GCheck" >
	 	INSERT INTO G_CHECK VALUES(
	 			'GN' || LPAD(SEQ_G_CHECK_NO.NEXTVAL,5,0)
	 			, #{groomingNo}
	 			, #{gMemberNo}
	 			, #{gCheckStatus}
	 			, #{gCheckDate}
	 	)
 	
	</insert>
 	
 	<select id="confirmCheck" parameterType="map" resultMap="GroupCheckResultSet">
 		SELECT *
		FROM G_CHECK
		WHERE GROOMING_NO=#{groomingNo} AND G_CHECK_DATE = #{gCheckDate}
 	</select>
 							  

	
 	
	<select id="groomingSearch" parameterType="GroomingSearch" resultMap="groomingMainResultSet">
		<![CDATA[
		SELECT 
		    G.GROOMING_NO, G.GROOMING_TITLE, G.GROOMING_INTRODUCE, G.GROOMING_IMG, G.GROOMING_TYPE
		    , GD.D_DAY, GT.TAG_NAME, G.GROOMING_PARTICIPANTS, GC.GMEMBER_COUNT , G.GROOMING_COUNT
		FROM GROOMING G
		JOIN (SELECT GROOMING_NO, TRUNC(GROOMING_END_DATE - SYSDATE) AS D_DAY
		        FROM GROOMING) GD 
		    ON(G.GROOMING_NO = GD.GROOMING_NO)
        JOIN (SELECT MEMBER_NICKNAME, MEMBER_NO FROM MEMBER) M
		    ON(G.MEMBER_NO = M.MEMBER_NO)
		JOIN (SELECT GROOMING_NO, (LISTAGG(TAG_NAME,',') WITHIN GROUP(ORDER BY GROOMING_NO)) AS TAG_NAME 
		        FROM GTAG GT
		        JOIN TAG TA ON(GT.TAG_NO = TA.TAG_NO) 
		        GROUP BY GROOMING_NO) GT
		    ON(G.GROOMING_NO = GT.GROOMING_NO)
		LEFT OUTER JOIN (SELECT GROOMING_NO, COUNT(MEMBER_NO) AS GMEMBER_COUNT
		        FROM GROMMING_MEMBER GROUP BY GROOMING_NO) GC
		    ON(G.GROOMING_NO = GC.GROOMING_NO)
		WHERE G.GROOMING_STATUS = 'Y' AND GD.D_DAY >0
		]]>
		<choose>
		    <when test="search == 'title'">
				AND GROOMING_TITLE LIKE '%' || #{keyword} || '%'
		    </when>
		    <when test="search == 'writer'">
				AND MEMBER_NICKNAME LIKE '%' || #{keyword} || '%'
		    </when>
		    <otherwise>
				AND GROOMING_CONTENT LIKE '%' || #{keyword} || '%'
		    </otherwise>
		  </choose>
		  	
	</select>
 	<update id="updateCheck" parameterType="GCheck">
 		UPDATE G_CHECK
		SET G_CHECK = #{gCheckStatus}
		WHERE GROOMING_NO=#{groomingNo} AND G_MEMBER_NO=#{gMemberNo} AND G_CHECK_DATE=#{gCheckDate}
 	</update>
 	
 	<select id="getCheckY" parameterType="map" resultType="_int">
	 	SELECT COUNT(*)
		FROM G_CHECK
		WHERE GROOMING_NO=#{groomingNo} AND G_MEMBER_NO=#{gMemberNo}
		AND G_CHECK ='Y'
 	</select>
 							  
	<select id="selectList" resultMap="groomingMainResultSet">
		<![CDATA[
		SELECT 
		    G.GROOMING_NO, G.GROOMING_TITLE, G.GROOMING_INTRODUCE, G.GROOMING_IMG, G.GROOMING_TYPE
		    , GD.D_DAY, GT.TAG_NAME, G.GROOMING_PARTICIPANTS, GC.GMEMBER_COUNT , G.GROOMING_COUNT
		FROM GROOMING G
		JOIN (SELECT GROOMING_NO, TRUNC(GROOMING_END_DATE - SYSDATE) AS D_DAY
		        FROM GROOMING ) GD 
		    ON(G.GROOMING_NO = GD.GROOMING_NO)
		JOIN (SELECT GROOMING_NO, (LISTAGG(TAG_NAME,',') WITHIN GROUP(ORDER BY GROOMING_NO)) AS TAG_NAME 
		        FROM GTAG GT
		        JOIN TAG TA ON(GT.TAG_NO = TA.TAG_NO) 
		        GROUP BY GROOMING_NO) GT
		    ON(G.GROOMING_NO = GT.GROOMING_NO)
		LEFT OUTER JOIN (SELECT GROOMING_NO, COUNT(MEMBER_NO) AS GMEMBER_COUNT
		        FROM GROMMING_MEMBER GROUP BY GROOMING_NO) GC
		    ON(G.GROOMING_NO = GC.GROOMING_NO)
		WHERE G.GROOMING_STATUS = 'Y' AND GD.D_DAY >0
		ORDER BY G.GROOMING_CREATE_DATE DESC
		]]>
	</select>
	
	<select id="selectMentorList" resultMap="groomingMainResultSet">
		<![CDATA[
		SELECT 
		    G.GROOMING_NO, G.GROOMING_TITLE, G.GROOMING_INTRODUCE, G.GROOMING_IMG, G.GROOMING_TYPE
		    , GD.D_DAY, GT.TAG_NAME, G.GROOMING_PARTICIPANTS, GC.GMEMBER_COUNT , G.GROOMING_COUNT
		FROM GROOMING G
		JOIN (SELECT GROOMING_NO, TRUNC(GROOMING_END_DATE - SYSDATE) AS D_DAY
		        FROM GROOMING) GD 
		    ON(G.GROOMING_NO = GD.GROOMING_NO)
		JOIN (SELECT GROOMING_NO, (LISTAGG(TAG_NAME,',') WITHIN GROUP(ORDER BY GROOMING_NO)) AS TAG_NAME 
		        FROM GTAG GT
		        JOIN TAG TA ON(GT.TAG_NO = TA.TAG_NO) 
		        GROUP BY GROOMING_NO) GT
		    ON(G.GROOMING_NO = GT.GROOMING_NO)
		LEFT OUTER JOIN (SELECT GROOMING_NO, COUNT(MEMBER_NO) AS GMEMBER_COUNT
		        FROM GROMMING_MEMBER GROUP BY GROOMING_NO) GC
		    ON(G.GROOMING_NO = GC.GROOMING_NO)
		WHERE G.GROOMING_STATUS = 'Y' 
		AND GROOMING_TYPE ='멘토'
		]]>
	</select>
 	
 	<select id="getCheckL" parameterType="map" resultType="_int">
	 	SELECT COUNT(*)
		FROM G_CHECK
		WHERE GROOMING_NO=#{groomingNo} AND G_MEMBER_NO=#{gMemberNo}
		AND  G_CHECK='L'
 	</select>
 	
	<select id="selectMoneyList" resultMap="groomingMainResultSet">
		<![CDATA[
		SELECT 
		    G.GROOMING_NO, G.GROOMING_TITLE, G.GROOMING_INTRODUCE, G.GROOMING_IMG, G.GROOMING_TYPE
		    , GD.D_DAY, GT.TAG_NAME, G.GROOMING_PARTICIPANTS, GC.GMEMBER_COUNT , G.GROOMING_COUNT
		FROM GROOMING G
		JOIN (SELECT GROOMING_NO, TRUNC(GROOMING_END_DATE - SYSDATE) AS D_DAY
		        FROM GROOMING) GD 
		    ON(G.GROOMING_NO = GD.GROOMING_NO)
		JOIN (SELECT GROOMING_NO, (LISTAGG(TAG_NAME,',') WITHIN GROUP(ORDER BY GROOMING_NO)) AS TAG_NAME 
		        FROM GTAG GT
		        JOIN TAG TA ON(GT.TAG_NO = TA.TAG_NO) 
		        GROUP BY GROOMING_NO) GT
		    ON(G.GROOMING_NO = GT.GROOMING_NO)
		LEFT OUTER JOIN (SELECT GROOMING_NO, COUNT(MEMBER_NO) AS GMEMBER_COUNT
		        FROM GROMMING_MEMBER GROUP BY GROOMING_NO) GC
		    ON(G.GROOMING_NO = GC.GROOMING_NO)
		WHERE G.GROOMING_STATUS = 'Y'
		AND DEPOSIT_MONEY > 0
		]]>
	</select>
 	
 	<select id="getDifDate" parameterType="map" resultType="_int">
	 	SELECT TO_DATE(STUDY_END_DATE,'YYYY-MM-DD')-TO_DATE(STUDY_START_DATE,'YYYY-MM-DD')
		FROM GROOMING
		WHERE GROOMING_NO=#{groomingNo}
 	</select>
 	
 	<select id="getMemberNickName" parameterType="string" resultType="string">
 		SELECT MEMBER_NICKNAME
 		FROM MEMBER
 		WHERE MEMBER_NO = #{memberNo}
 	</select>
 	
 	<select id="getCheckN" parameterType="map" resultType="_int">
	 	SELECT COUNT(*)
		FROM G_CHECK
		WHERE GROOMING_NO=#{groomingNo} AND G_MEMBER_NO=#{gMemberNo}
		AND  G_CHECK='N'
 	</select>

	<select id="selectGpointList" parameterType="string" resultMap="MyPagePointSet">
		SELECT *
		FROM POINT P
		JOIN GROOMING_APPLICANT G ON G.MEMBER_NO = P.MEMBER_NO
		WHERE GROOMING_APPLY_NO = #{applyNo}
	</select>
 	
 	<insert id="addPointMember" parameterType="map">
 		INSERT INTO POINT VALUES(
 		'P' || LPAD(SEQ_POINT_NO.NEXTVAL,5,0)
 		,#{memberNo}
 		, #{money}
 		,0
 		,'예치금'
 		,SYSDATE)
 	
 	
 	</insert>
 	
 	<select id="limitCheck" parameterType="string" resultMap="groomingResultSet">
 		SELECT *
 		FROM GROOMING
 		WHERE GROOMING_NO = #{groomingNo} AND GROOMING_STATUS = 'B'
 	
 	</select>
 	
 	<select id="selectMemberNo" parameterType="string" resultType="string">
 		SELECT MEMBER_NO
 		FROM GROOMING
 		WHERE GROOMING_NO=#{groomingNo}
 	</select>
 	
 	
 	<insert id="addMentorPoint" parameterType="map">
 		INSERT INTO POINT VALUES(
 		'P' || LPAD(SEQ_POINT_NO.NEXTVAL,5,0)
 		,#{memberNo}
 		, #{money}
 		,0
 		,'예치금'
 		,SYSDATE) 	 	
 	</insert>
 	
 	<select id="selectMentor" parameterType="string" resultMap="MentorResultSet">
	 	SELECT *
		FROM MENTOR
		WHERE MEMBER_NO = #{memberNo} AND MENTOR_PASS='Y'
 	
 	</select>
 	
 	<select id="searchListCount" parameterType="groomingSearch" resultType="_int">
 		<![CDATA[
 		SELECT COUNT(*)
		FROM GROOMING G
		JOIN (SELECT GROOMING_NO, TRUNC(GROOMING_END_DATE - SYSDATE) AS D_DAY
		        FROM GROOMING) GD 
		    ON(G.GROOMING_NO = GD.GROOMING_NO)
        JOIN (SELECT MEMBER_NICKNAME, MEMBER_NO FROM MEMBER) M
		    ON(G.MEMBER_NO = M.MEMBER_NO)
		JOIN (SELECT GROOMING_NO, (LISTAGG(TAG_NAME,',') WITHIN GROUP(ORDER BY GROOMING_NO)) AS TAG_NAME 
		        FROM GTAG GT
		        JOIN TAG TA ON(GT.TAG_NO = TA.TAG_NO) 
		        GROUP BY GROOMING_NO) GT
		    ON(G.GROOMING_NO = GT.GROOMING_NO)
		LEFT OUTER JOIN (SELECT GROOMING_NO, COUNT(MEMBER_NO) AS GMEMBER_COUNT
		        FROM GROMMING_MEMBER GROUP BY GROOMING_NO) GC
		    ON(G.GROOMING_NO = GC.GROOMING_NO)
		WHERE G.GROOMING_STATUS = 'Y' AND GD.D_DAY >0
		]]>
		<choose>
		    <when test="search == 'title'">
				AND GROOMING_TITLE LIKE '%' || #{keyword} || '%'
		    </when>
		    <when test="search == 'writer'">
				AND MEMBER_NICKNAME LIKE '%' || #{keyword} || '%'
		    </when>
		    <otherwise>
				AND GROOMING_CONTENT LIKE '%' || #{keyword} || '%'
		    </otherwise>
		  </choose>
 	
 	</select>
</mapper>











