<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPwd" column="MEMBER_PASSWORD"/>
		<result property="memberNickName" column="MEMBER_NICKNAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="lvlNo" column="LVL_NO"/>
		<result property="memberExp" column="MEMBER_EXP"/>
		<result property="memberMemo" column="MEMBER_MEMO"/>
		<result property="memberPhoto" column="MEMBER_PHOTO"/>
		<result property="memberAdmin" column="MEMBER_ADMIN"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberJoinDate" column="MEMBER_JOIN_DATE"/>
	</resultMap>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES('M' || LPAD(SEQ_MEMBERNO.NEXTVAL,5,0), #{memberEmail}, #{memberPwd}, #{memberNickName}
				, NULL, NULL, #{memberPhone}, DEFAULT, 0, NULL, DEFAULT, DEFAULT, DEFAULT, SYSDATE)
	</insert>

</mapper>
