<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pointMapper">

	<insert id="welcomePoint" parameterType="string">
		INSERT INTO POINT (POINT_NO, MEMBER_NO, ADD_POINT, SUB_POINT, POINT_LIST, POINT_DATE)
		VALUES('P' || LPAD(SEQ_POINT_NO.NEXTVAL,5,0)
			, (SELECT MEMBER_NO FROM MEMBER WHERE MEMBER_EMAIL = #{memberEmail})
			, 1000, 0, '신규가입', SYSDATE)
	</insert>
	
</mapper>
